
.prose figure img {
	max-width: 100%;
	display: block;
}

.prose figure figcaption {
	font-size: 14px;
	color: rgb(50,50,50);
}


.prose figure.landscape {
	width: 575px; /* I don't know if this should be implied by grid classes on the element or not. */
}


/* Some figures will break out of their containing block to the right. */

.prose figure.breakout {
	margin-right: -300px; /* Should this go here? I don't know. */
	margin-left: 25px;
	margin-top: 25px;
	margin-bottom: 25px;
	float: right;
}
