/* These are the styles for main body text in an article. */


.prose h1 {
	text-align: center;
	font-weight: normal;
	font-size: 36px;
	line-height: 50px;
	font-style: italic;
	margin: 0;
	padding-top: 50px;
}

.prose address {
	font-style: italic;
	text-align: center;
	margin: 25px 0;
}
.prose address p {
	margin: 0; 
}



.prose p {
	margin-bottom: 25px; 
}
