{# Presupposes that all pages have a related entry or category #}
{# (But can be modified to support more if needed) #}

{% macro render() %}
    {% set segments = craft.request.getSegments() %}
    {% set uris = ['__home__'] %}
    {% if segments != uris %}
        {% set uri = '' %}
        {% for segment in segments %}
            {% set uri = uri ~ (uri|length ? '/' : '') ~ segment %}
            {% set uris = uris | merge([uri]) %}
        {% endfor %}
    {% endif %}
    <nav>
        <h2>{{ "Breadcrumb"|t }}</h2>
        <ol itemscope itemtype="http://schema.org/BreadcrumbList">
            {% for url in urls %}
                {% set item = craft.entries.uri(uri)|first %}
                {% if not item %}
                    {% set item = craft.categories.uri(uri)|first %}
                {% endif %}
                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    <a itemprop="item" href="{{ item.url }}" rel="v:url">
                        <span itemprop="name">{{ item.title }}</span>
                    </a>
                    <meta itemprop="position" content="{{ loop.index }}">
                </li>
            {% endfor %}
        </ol>
    </nav>
{% endmacro %}
