/* This file defines the basic typography of the entire site. */

html {
	font-family: "Fanwood Text", serif;
	font-size: 18px;
	line-height: 25px;
	background: white;
	color: black;
}

a {
	color: black;
	text-decoration: none;
}
